body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#android-logo {
  position: absolute;
  bottom: -15px;
  right: 200px;
  cursor: pointer;
}

#android-logo .head {
  background-color: #fff;
  width: 135px;
  height: 67px;
  border-radius: 270px 270px 0 0;
  margin-bottom: 4px;
  position: relative;
}

#android-logo .head::before,
#android-logo .head::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 4px;
  height: 94px;
  bottom: 0;
  border-radius: 2px;
  left: calc(50% - 2px);
  transform-origin: 50% 99%;
}

#android-logo .head::before {
  transform: rotate(-30deg);
}

#android-logo .head::after {
  transform: rotate(30deg);
}

#android-logo .head .eye {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  top: calc(50% - 6px);
  z-index: 1;
  border-radius: 50%;
  transition: all 0.3s linear;
}

#android-logo .head .eye.left {
  right: calc(50% - 27px);
}

#android-logo .head .eye.right {
  left: calc(50% - 27px);
}

#android-logo .body {
  background-color: #fff;
  width: 135px;
  height: 126px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

#android-logo .body::before {
  left: 26px;
}

#android-logo .body::after {
  right: 26px;
}

#android-logo .body .arm {
  background-color: #fff;
  width: 29px;
  height: 97px;
  top: 0;
  position: absolute;
  border-radius: 15px;
  transition: all 0.1s ease;
}

#android-logo .body .arm.left {
  left: -33px;
  transform-origin: 15px 15px;
  animation: waveLeft 0.8s linear infinite;
}

#android-logo .body .arm.right {
  right: -33px;
  transform-origin: 15px 15px;
}

@keyframes waveRight {
  0% {
    transform: rotate(-100deg);
  }
  10% {
    transform: rotate(-120deg);
  }
  30% {
    transform: rotate(-150deg);
  }
  50% {
    transform: rotate(-120deg);
  }
  70% {
    transform: rotate(-150deg);
  }
  90% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(-100deg);
  }
}

@keyframes waveLeft {
  0% {
    transform: rotate(100deg);
  }
  10% {
    transform: rotate(120deg);
  }
  30% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(120deg);
  }
  70% {
    transform: rotate(150deg);
  }
  90% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

.animate-on-load {
  animation: slideInUp 0.8s ease forwards, slideOutDown 0.8s ease forwards 1.5s; /* wait 3s before starting */
}

@keyframes slideInUp {
  0% {
    bottom: -200px;
    opacity: 0;
    visibility: visible;
  }
  100% {
    bottom: -50px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideOutDown {
  0% {
    bottom: -50px;
    opacity: 1;
    visibility: visible;
  }
  100% {
    bottom: -200px; /* slide far below */
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1180px) {
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }
  #android-logo {
    position: absolute;
    bottom: 0px; /* distance from bottom */
    left: 100%; /* center horizontally */
    transform: translateX(-90%);
    transform: translateY(-30%);
    rotate: -40deg; /* shift left by 50% width to center */
  }

  .animate-on-load {
    animation: slideInLeft 0.8s ease forwards,
      slideOutRight 0.8s ease forwards 1.5s; /* wait 3s before starting */
  }

  @keyframes slideInLeft {
    0% {
      left: 120%; /* start off screen right */
      opacity: 0;
      visibility: visible;
    }
    100% {
      left: 95%; /* slide to center horizontally */
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes slideOutRight {
    0% {
      left: 90%; /* start at center */
      opacit5: 1;
      visibility: visible;
    }
    100% {
      left: 100%; /* slide off screen right */
      opacity: 0;
      visibility: hidden;
    }
  }

  #android-logo .head {
    width: 80px;
    height: 47px;
  }
  #android-logo .body {
    width: 80px;
    height: 100px;
  }
  #android-logo .body .arm {
    width: 19px;
    height: 67px;
  }
}
